* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
}

.slider {
  position: relative;
}

.slider__container {
  width: 600px;
  overflow: hidden;
  background-color: pink;
  margin: 0 auto;
}

.slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: yellow;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.slider__item {
  text-align: center;
}

.slider__icon {
  margin: 0 0 35px 0;
}

.slider__title {
  margin: 0 0 20px 0;
  font-size: 18px;
  color: #353738;
  font-weight: 700;
}

.slider__title span {
  font-weight: 300;
  color: #848789;
}

.slider__text {
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  color: #848789;
  font-style: italic;
  padding: 0 35px;
}

.slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 600px;
  top: 50%;
}

.slider__buttons .btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.slider__buttons .btn:hover {
  border-color: green;
}

.slider__buttons .btn-prev {
  position: absolute;
  left: -20px;
  border-bottom: 3px solid red;
  border-left: 3px solid red;
}

.slider__buttons .btn-next {
  position: absolute;
  right: -20px;
  border-top: 3px solid red;
  border-right: 3px solid red;
}

.slider .btns-radio {
  width: 600px;
  margin: 10px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .btns-radio input:not(:last-child) {
  margin: 0 10px 0 0;
}
