* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.container {
    @media (min-width: 1400px) {
        max-width: 1300px;
    }
    @media (max-width: 1400px) {
        max-width: 1000px;
    }
    @media (max-width: 1200px) {
        max-width: 800px;
    }
    @media (max-width: 992px) {
        max-width: 700px;
    }
    @media (max-width: 768px) {
        max-width: 500px;
    }
    @media (max-width: 576px) {
        max-width: 400px;
    }
    margin: 0 auto;
}

$sliderWidth1: 1200px;
$sliderWidth2: 900px;
$sliderWidth3: 700px;
$sliderWidth4: 550px;
$sliderWidth5: 400px;
$sliderWidth6: 350px;
.slider {
    position: relative;
    &__container {
        @media (min-width: 1400px) {
            width: $sliderWidth1;
        }
        @media (max-width: 1400px) {
            width: $sliderWidth2;
        }
        @media (max-width: 1200px) {
            width: $sliderWidth3;
        }
        @media (max-width: 992px) {
            width: $sliderWidth4;
        }
        @media (max-width: 768px) {
            width: $sliderWidth5;
        }
        @media (max-width: 576px) {
            width: $sliderWidth6;
        }
        overflow: hidden;
        background-color: pink;
        margin: 0 auto;
    }
    &__body {
        display: flex;
        background-color: yellow;
        transition: 0.2s;
    }
    &__item {
        text-align: center;
    }
    &__icon {
        margin: 0 0 35px 0;
    }
    &__title {
        margin: 0 0 20px 0;
        font-size: 18px;
        color: #848789;
        font-weight: 700;
        span {
            font-weight: 300;
            color: #848789;
        }
    }
    &__text {
        text-align: center;
        font-size: 24px;
        line-height: 34px;
        color: #848789;
        font-style: italic;
        padding: 0 35px;
    }
    &__buttons {
        display: flex;
        position: absolute;
        @media (min-width: 1400px) {
            width: $sliderWidth1;
        }
        @media (max-width: 1400px) {
            width: $sliderWidth2;
        }
        @media (max-width: 1200px) {
            width: $sliderWidth3;
        }
        @media (max-width: 992px) {
            width: $sliderWidth4;
        }
        @media (max-width: 768px) {
            width: $sliderWidth5;
        }
        @media (max-width: 576px) {
            width: $sliderWidth6;
        }
        top: 50%;
        .btn {
            width: 30px;
            height: 30px;
            cursor: pointer;
            transform: translateY(-50%) rotate(45deg);
            &:hover {
                border-color: green;
            }
        }
        .btn-prev {
            position: absolute;
            left: -20px;
            border-bottom: 3px solid red;
            border-left: 3px solid red;
        }
        .btn-next {
            position: absolute;
            right: -20px;
            border-top: 3px solid red;
            border-right: 3px solid red;
        }
    }
    .btns-radio {
        @media (min-width: 1400px) {
            width: $sliderWidth1;
        }
        @media (max-width: 1400px) {
            width: $sliderWidth2;
        }
        @media (max-width: 1200px) {
            width: $sliderWidth3;
        }
        @media (max-width: 992px) {
            width: $sliderWidth4;
        }
        @media (max-width: 768px) {
            width: $sliderWidth5;
        }
        @media (max-width: 576px) {
            width: $sliderWidth6;
        }
        margin: 10px auto 0 auto;
        display: flex;
        justify-content: center;
        input:not(:last-child) {
            margin: 0 10px 0 0;
        }
    }
}